{% if page.page_js %}
  {% for script in page.page_js %}
  {% case script %}
    {% when "mathjax" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% when "mathjax_dollar" %}
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% else %}
    <script src="{{ script | relative_url }}"></script>
  {% endcase %}
  {% endfor %}
{% endif %}
