<div id="footer">
    <div><a target="_blank" rel="noopener" href="https://github.com/AliasQli">G<span class="smallcaps">ithub</span></a></div>
    <div class="link-gutter"></div>
    <div><a target="_blank" rel="noopener" href="https:/functional.cafe/@AliasQli">M<span class="smallcaps">astodon</span></a></div>
    <div class="link-gutter"></div>
    <div><a href="mailto:aliasqli@qq.com">E<span class="smallcaps">mail</span></a></div>
</div>