<div id="header">
    <div class="img">
        <a href="/">
            <img src="/assets/image/AliasQli.jpg">
        </a>
    </div>
    <div class="site">
        <div class="upper">Qliphoth Tech</div>
        <div class="lower">1492 A.A.</div>
    </div>
    <div class="fr1-gutter"></div>
    <div class="link"><a href="/">Home</a></div>
    <div class="link-gutter"></div>
    <div class="link"><a href="/about">About</a></div>
</div>